<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hospital Announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="container"> 
  <div class="row">
      <div class="card"> 
          <div class="card-header">
              <h1>July 1, 2019</h1>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat et lorem ut consequat. 
              Sed ut rutrum velit. Integer non volutpat lacus, ut hendrerit ipsum. Vestibulum eget lectus ipsum. 
              Suspendisse nibh magna, eleifend vel mollis et, euismod id ante. Fusce elementum nulla dapibus odio mattis,
              a malesuada quam pulvinar. Praesent in nunc tempor, aliquam nisi sit amet, facilisis turpis. Vestibulum sed 
              dolor et est commodo viverra. Vestibulum eget nulla semper, dignissim lorem quis, commodo ligula. Fusce ac 
              fringilla metus. Cras ac ipsum velit. Duis sodales urna tellus,auctor feugiat lectus vehicula sit amet. 
              Nulla congue lobortis tincidunt. Aenean suscipit vel tortor sit amet lobortis.
            </p>
          </div>
      </div>

      <div class="card"> 
        <div class="card-header">
            <h1>July 1, 2019</h1>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat et lorem ut consequat. 
            Sed ut rutrum velit. Integer non volutpat lacus, ut hendrerit ipsum. Vestibulum eget lectus ipsum. 
            Suspendisse nibh magna, eleifend vel mollis et, euismod id ante. Fusce elementum nulla dapibus odio mattis,
            a malesuada quam pulvinar. Praesent in nunc tempor, aliquam nisi sit amet, facilisis turpis. Vestibulum sed 
            dolor et est commodo viverra. Vestibulum eget nulla semper, dignissim lorem quis, commodo ligula. Fusce ac 
            fringilla metus. Cras ac ipsum velit. Duis sodales urna tellus,auctor feugiat lectus vehicula sit amet. 
            Nulla congue lobortis tincidunt. Aenean suscipit vel tortor sit amet lobortis.
          </p>
        </div>
    </div>
  </div>
</ion-content>