.container-flex{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(26, 188, 156, 0.623),rgba(39, 174, 95, 0.596)),url('../../assets/images/health.jpg');
  background-position: top;
  background-repeat: no-repeat;
  color: white;
}
.container-flex h1{
  font-family: 'Open Sans';
  font-weight: 100;
  letter-spacing: 3px;
}
.flex-item {
  margin: 10px;
  width: 80%;
  font-family: 'Open Sans';
}

ion-input {
  --placeholder-color: white;     /* placeholder text color */
  --placeholder-font-weight: 400;
  font-size: larger;
  font-family: 'Open Sans';
  font-weight: 800;
  text-align: center;
}

